.bg-red {
    background-color: #d61b1b !important;
}

.bg-green {
    background-color: #33a876 !important;
}

.bg-blue {
    background-color: #397ca3 !important;
}

.bg-yellow {
    background: #f29300 !important;
}